<%- include('../partials/header') %>

<h2>Create New Ticket</h2>

<form id="new-ticket-form" action="/flights/<%= flight._id %>/tickets" method="POST">
  <!-- Seat -->
  <div class="form-group">
    <label for="seat">Seat:</label>
    <input type="text" id="seat" name="seat" pattern="[A-F][1-9]\d?" required>
  </div>

  <!-- Price -->
  <div class="form-group">
    <label for="price">Price:</label>
    <input type="number" id="price" name="price" min="0" required>
  </div>

  <!-- Submit Button -->
  <button type="submit">Create Ticket</button>
</form>

<%- include('../partials/footer') %>
