<!DOCTYPE html>
<html>
<head>
  <!-- head content -->
</head>
<body>
  <header>
    <nav>
      <ul>
        <!-- Link to the 'All Flights' page -->
        <li><a href="/flights">All Flights</a></li> 
        <!-- Link to the 'Add Flight' page -->
        <li><a href="/flights/new">Add Flight</a></li> 
      </ul>
    </nav>
  </header>

  <main>
    <%= body %> 
  </main>

</body>
</html>

